<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Edit Birthday</title>
</head>
<body onload="setMaxDate()">
    <div class="header">
        <h1><a href="/">Birthdays</a></h1>
    </div>
    <div class="container">
        <div class="section">
            <!-- if exists, show message -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h2>Edit Birthday</h2>
            {% for user in birthdays %}
            <form action="/edit" method="post">
                <input type="text" name="name" autocomplete="off" required value="{{user.name}}">
                <input type="number" name="month" autocomplete="off" min="1" max=12 required value="{{user.month}}">
                <input type="number" name="day" autocomplete="off" max="31" required value="{{user.day}}">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <button type="submit">Submit</button>
            </form>
            {% endfor %}

        </div>
</body>
</html>