* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr auto .809fr;
    grid-template-areas:    'a'
                            'b'
                            'c'
                            'd';
    grid-gap: .2fr;
    font-size: 1.3rem;
}

.mainSec1 {
    grid-area: b;
    width: 1fr;
}

.mainSec1 h1 {
    font-size: 4rem;
}

.mainSec2 {
    grid-area: c;
    width: 1fr;
    margin-left: 10vw;
    margin-right: 10vw;
}

.footer {
    width: 1fr;
    grid-area: d;
    background-color: #f5e3e1;
}

.footer p {
    transform: translateY(35px);
    color: #f5e3e1;
}